:global
  @font-face
    font-family 'intro_rust_gbase_2_line'

    src url('app/assets/fonts/introrust/introrustg-base2line-webfont.eot')
    src url('app/assets/fonts/introrust/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'), url('app/assets/fonts/introrust/introrustg-base2line-webfont.woff2') format('woff2'), url('app/assets/fonts/introrust/introrustg-base2line-webfont.woff') format('woff'), url('app/assets/fonts/introrust/introrustg-base2line-webfont.ttf') format('truetype'), url('app/assets/fonts/introrust/introrustg-base2line-webfont.svg') format('svg')
